header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 168, 0);
    padding: 30px;
}

img {
    height: 70px;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}